// Author: Daniel Garcia

#search-form {
	input, label {
		margin-bottom: 0.66em;
	}
}

@media only screen and (min-width: 768px) {
	#actor {
		float: right !important;
	}
}

@media only screen and (max-width: 768px) {
	h1, h2, h3, h4, div, li {
		text-align: center;
	}
}